html {
    font-size: 62.5%;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color:rgb(214, 218, 218);
    padding-top: 5rem;
    padding-bottom: 2rem;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 4rem;
    padding-bottom: 2rem;
}

.content {
    display: block;
    transition: 0.2s;
    border-top: 0.1em solid #a39d9d;
    cursor: pointer;    
}

.content-title {
    cursor: pointer;  
    color: rgb(45, 46, 43); 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.content-title:hover {
    transition: 0.2s;
    color: rgb(17, 63, 190);   
}

.content-input{
    appearance: none;
    width: 0%;
    height: 0%;
    position: absolute;
}

.img-cont {
    display: none;
}

.content-input:checked ~ .content-title{
    color: rgb(17, 63, 190);
}

.content-input:checked ~ .img-cont{
    display:flex;
    align-items:center;
    justify-content: center;
    padding-bottom: 2rem
    
}    

.image {
    display: block;
}